*{
    box-sizing: border-box;
}

nav{
    background-color: rgb(158, 157, 156);
    padding: 0 30%;
}

nav li{
    display: inline-block;
   
}

nav li a{
    display: inline-block;
    color: #bac7c2;
    text-decoration: none;
    padding: 20px;
    

}

nav li a:hover{
    background-color: rgb(156, 238, 227);
}

.dropdown-menu{
  position: absolute;
  box-shadow: 0 0 2px black;
  display: none;   
}

.dropdown-menu a{
    display: block;
    color: #f1f1f1;
   
}

.dropdown:hover .dropdown-menu{
    display: block;
    
}